*
**/.gitignore
**/install.sh
**/README.md
**/LICENSE
!*/
!.gitignore
!background/**
!bspwm/**
!cava/**
!dunst/**
!flameshot/**
!hypr/**
!kitty/**
!libinput-gestures/**
!lwp/**
!mpv/**
!neofetch/**
!picom/**
!polybar/**
!rofi/**
!sxhkd/**
!clipcat/**
!install.sh
!/README.md
!/LICENSE
lite-xl/**
lwp/log
