# Specify filepatterns you want git to ignore.

bspwm/scripts/
cantata/
clangd/
dconf/
font-manager/
fontconfig/
gtk-2.0/
gtk-3.0/
matplotlib/
nitrogen/
pulse/
sublime-merge/
sublime-text/
Atom-ng/
gittyup\.github\.com/
syntol/
systemd/
Thunar/
Ultralytics/
xfce4/
QtProject/
libreoffice/
Kitware/
lximage-qt/
lite-xl/
xarchiver/
yay/
nvim/
EOS-greeter.conf
eos-update-notifier.first_init
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
baloofilerc
dolphinrc
knfsshare
window-geometry.conf
GitFiend/
qBittorrent/
onlyoffice/
evolution/
gitahead.com/
jgit/
org.gabmus.swatch.json
Maui/
mpd/log
menus/
remmina/
freerdp/
GIMP/
inkscape/
scribus/
tikzit/
