# Specify filepatterns you want git to ignore.

bspwm/scripts/
cantata/
clangd/
dconf/
font-manager/
fontconfig/
gtk-2.0/
gtk-3.0/
matplotlib/
nitrogen/
pulse/
sublime-merge/
sublime-text/
syntol/
systemd/
Thunar/
Ultralytics/
xfce4/
QtProject/
EOS-greeter.conf
eos-update-notifier.first_init
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale

